<ion-card>
    <ion-card-content>
        <ion-list>       
            <ion-item>
                <ion-label>Vehicle type</ion-label>
                <ion-select [(ngModel)]="start">
                  <ion-option value="0" selected="true">VAN</ion-option>
                  <ion-option value="1">Clasic</ion-option>
                  <ion-option value="2">SUV</ion-option>
                  <ion-option value="3">Pick-Up</ion-option>
                  <ion-option value="4">Truck</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Vehicle type</ion-label>
                <ion-select [(ngModel)]="end">
                  <ion-option value="0" selected="true">VAN</ion-option>
                  <ion-option value="1">Clasic</ion-option>
                  <ion-option value="2">SUV</ion-option>
                  <ion-option value="3">Pick-Up</ion-option>
                  <ion-option value="4">Truck</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <button ion-button (tap)="calculateAndDisplayRoute()">Button</button>
    </ion-card-content>
</ion-card>
<div #map id="map"></div>
